#mainNav {
  min-height: 70px;
}

.nav-item {
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

.navbar-brand{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

Link Link:hover{
  text-decoration: none;
}


.nav-item:hover{
  margin-bottom: 9px;
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.nav-item-selected{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}






