.footer{
  background-image: url(../../../assets/footerBackground1.jpg);
  opacity: 0.7;
  padding-top: 20px;
  box-shadow: 0 0 8px 8px white inset;;
}

.iconLeft{
  margin: 20px;
  float: left;
  color: black;
}

.iconRight{
  margin: 20px;
  float: right;
  color: black;
}

.iconCenter{
  margin: 20px;
  float: center;
  color: black;
}

.iconCenterCommon{
  margin: 0 auto;
  margin-top:5px;
}

.textCenter{
  float: center;
  color: bla;
}

.boxed {
  vertical-align: center;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

.row{
  margin-top: 10px;
}



