.App {
  text-align: center;
  height: 100%;
}



.body{
  position: relative;
  width:100%; 
}

.header{
  position: relative; 
  width:100%; 
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* LOGIN MODAL CSS*/

.flex-grid {
  display: flex;
  margin: 10px;
}

/* LOGIN MODAL END*/

/* Menu Bar CSS Start*/

#mainNav {
  min-height: 70px;
}

.nav-item {
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

.navbar-brand{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

Link Link:hover{
  text-decoration: none;
}


.nav-item:hover{
  margin-bottom: 9px;
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.nav-item-selected{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

/* Menu Bar CSS End*/

.login_lable{
  margin-right: 10px;
  margin-bottom: 10px;
}

.error{
  color: red;
  justify-content: left;
  text-transform:capitalize;
  text-align: left;
}
/* Navbar Start*/
.logo{
  margin-left: 50px;
  height: 75px;
  width: 75px;
}

.navdiv{
  display: flex;
}

.navdiv-container{
  margin-left: auto;
  margin-right: 20px;
}

/* Navbar End*/

/*Home Page Start*/

.homePage{
  height: 400px;
}

/*Home Page End*/

/* Events Page Start*/

div.container.noMargin{
  margin: 0px;
}
.eventMap{
  margin-left: 1%;
  width: 98%; 
  height: 100%; 
  object-fit: contain; 
}
.eventGoogleMap{
  border-radius: 25px;
  border: solid;
  border-color: black;
}
.eventsPage{
  margin-top: 2%;
}

ul.nav.nav-tabs{
  margin-top:0!important;
}

.eventDetail,.eventList{
  min-height: 250px;
  vertical-align: middle;
}

.eventDetail{
  margin-top: -15px;
}
.eventDetails{
  margin-top: -10px;
}

.eventLinkButton{
  width:40px;
  height: 40px;
}

.eventDetaislRow{
  margin-top:15px;
  margin-bottom: 10px;
}

.eventDetailsRowLable{
  font-weight: bold;
  text-align: left;
}
.eventDetailsRowInfo{
  text-align: left;
}

.eventDetialsTab{
  margin-top: 5%;
}

.newEvent{
  border-radius: 25px;
  border: black;
  border-style: solid;
}

.modal-content{
  min-width: 800px;
  margin-left: -40%;
}
.newEventRow{
  height: 50px;
}

/* Events Page End*/

/* Contact Page Start*/
.flex-container{
  display: flex;
  flex-flow: column;
}

.contactPage{
  margin-top: 0px;
}

.contactForm,.contactDetails{
  height: 100%;
}
.contactMap{
  float: left;
  margin-top: 15%;
  width: 70%;
  height: 70%;
  border-radius: 25px;
}
.contactMapAdress{
  float: left;
  margin-top: 25%;
  margin-left: 10px;
}
.contactMapText{
  margin-bottom: 1px;
  text-align: left;
}
input.form-control.validate.ContactInput{
  margin-bottom: 0px;
}
/* Contact Page End*/

/* Footer start*/
.navbar {
  width: 100%;
  overflow: auto;
}

.navbar span {
  float: left;
  align-content: center;
  text-align: center;
  text-decoration: none;
  width: 25%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
} 

.footerdiv {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 2px;
}
/* Footer End*/


.areaHeading{
  margin-top: 10px;
  text-align: center;
}

.div.col-md-12{
  padding: 0px;
}

div.navdiv.navbar{
  padding:0px;
}

input.form-control.login_lable{
  width: 94%;
  margin-left: 3%;
}
.loginRegisterRow{
  margin:20px;
}

.modalContent{
  width: 100px !important;
}

.loginCol{
  text-align: right;
}

.registerCol{
  text-align: left;
}



