.App {
  text-align: center;
  height: 100%;
}



.footer{
  width: 100%;
  position: relative;
}

.body{
  position: relative;
  width:100%; 
}

.header{
  position: relative; 
  width:100%; 
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



/* LOGIN MODAL CSS*/

.flex-grid {
  display: flex;
  margin: 10px;
}

/* LOGIN MODAL END*/

/* Menu Bar CSS Start*/

#mainNav {
  min-height: 70px;
}

.nav-item {
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

.navbar-brand{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

Link Link:hover{
  text-decoration: none;
}


.nav-item:hover{
  margin-bottom: 9px;
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

.nav-item-selected{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  border-bottom: 1px solid black;
  padding-bottom: 4px;
}

/* Menu Bar CSS End*/

.login_lable{
  margin-right: 10px;
  margin-bottom: 10px;
}

.error{
  color: red;
  justify-content: left;
  text-transform:capitalize;
  text-align: left;
}
/* Navbar Start*/
.logo{
  margin-left: 50px;
  height: 75px;
  width: 75px;
  margin-bottom: -20px;
}

.navdiv{
  display: flex;
}

.navdiv-container{
  margin-left: auto;
  margin-right: 20px;
}

/* Navbar End*/

/*Home Page Start*/

.homePage{
  height: 400px;
}

/*Home Page End*/

/* Events Page Start*/

.eventMap{
  margin-left: 1%;
  width: 98%; 
  height: 100%; 
  object-fit: contain; 
}

.eventList{
  margin-left: 10px;
}

.eventsFlexContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* Events Page End*/

/* Contact Page Start*/
.flex-container{
  display: flex;
  flex-flow: column;
}

.contactPage{
  flex-grow : 1; 
}

.contactForm,.contactDetails{
  float: left;
  width:48%;
  margin-left: 2%;
  height: 100%;
}
.contactMap{
  float: left;
  margin-top: 6%;
  width: 50%;
  height: 100%;
  border-radius: 25px;
}
.contactMapAdress{
  float: left;
  margin-top: 15%;
  margin-left: 10px;
}
.contactMapText{
  margin-bottom: 1px;
  text-align: left;
}
input.form-control.validate.ContactInput{
  margin-bottom: 0px;
}
/* Contact Page End*/



