#mainNav {
  min-height: 60px;
  background-color: #fff;
}

.nav-item {
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}

.navbar-brand{
  margin:10px;
  font-family: Arial;
  font-size: 20px;
  color: grey;
  padding-bottom: 5px;
}


#mainNav .navbar-nav .nav-item:hover{
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
  color: black;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}





